#item-1 img {
  width: 140%;
  position: absolute;
}

#item-2 img {
  width: 200%;
  position: absolute;
}
#item-2 img:hover {
  width: 220%;
}

#item-3 img {
  width: 120%;
  position: absolute;
}

#item-4 img {
  width: 200%;
  position: absolute;
}
#item-4 img:hover {
  width: 220%;
}

#item-5 img {
  width: 300%;
  position: absolute;
}

#item-6 img {
  width: 150%;
  position: absolute;
}
#item-6 img:hover {
  width: 170%;
  position: absolute;
}
