footer {
  background: black;
}

.shop a {
  color: var(--Black, #000);
  text-align: center;
  font-family: "Roboto";
  font-size: 25px;
  font-style: italic;
  font-weight: 700;
  border-radius: 29px;
  background: var(--White, #fff);
  padding: 15px 40px;
  flex-shrink: 0;
  align-self: center;
}

//réseaux

footer {
  padding-top: 450px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 70px;
}

footer section {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: flex-end;
}

.networks {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding-top: 170px;
}

footer article {
  display: flex;
  flex-direction: column;
  gap: 110px;
}

footer ul {
  display: flex;
  gap: 54px;
}

footer h2 {
  color: var(--Gray, #808080);
  text-align: center;
  font-family: "Helvetica Neue";
  font-size: 40px;
  font-weight: 700;
}

.shop {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.shop img {
  width: 41vw; /* 591px sur un écran de 1440px */
  height: auto;
}

article img {
  width: 29vw;
  margin-left: 14%;
}

footer p {
  padding-bottom: 20%;
}
