footer {
  background: black;
}

.shop a {
  color: var(--Black, #000);
  text-align: center;
  font-family: "Roboto";
  font-size: 25px;
  font-style: italic;
  font-weight: 700;
  border-radius: 29px;
  background: var(--White, #fff);
  padding: 15px 40px;
  flex-shrink: 0;
}
