.l-background {
  background-image: url(../img/ciel\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.l-container-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30%;
  padding-bottom: 5%;
  flex-direction: column;
}

.l-spacer {
  height: 100vh;
  margin-block: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: repeating-linear-gradient(
    45deg,
    #606dbc33,
    #606dbc33 10px,
    #606dbc00 10px,
    #606dbc00 20px
  );
}

.slider-mask {
  overflow: hidden;
  height: 100vh;
}

.l-slider-container {
  display: inline-flex;
  height: 100%;
  gap: 10px;
  width: 150%;
  position: relative;
  display: flex;
}

.slider-container .montagne-paysage img {
  margin-top: 2%;
  width: 110%;
  height: 50%;
  margin-left: 16%;
  flex-shrink: 0;
  display: block;
  position: relative;
  z-index: -2;
  scale: 1.3;
  inset: 0;
}
.l-slider-container .parapaysage img {
  margin-top: 13%;
  width: 100%;
  height: 67%;
  object-fit: cover;
  flex-shrink: 0;
  display: block;
  position: absolute;
  z-index: 2;
}
.l-slider-container .foret-paysage img {
  margin-top: 8%;
  width: 100%;
  height: 50%;
  object-fit: cover;
  flex-shrink: 0;
  position: relative;
  z-index: 1;
}

.l-slider-item {
  position: absolute;
  z-index: 3;
  opacity: 1;
}

.l-slider-item#item-1 {
  left: 500px;
  width: 150px;
  height: 150px;
  top: 30%;
  left: 6%;
}
.l-slider-item#item-2 {
  left: 500px;
  width: 300px;
  height: 300px;
  top: 55%;
  left: 14%;
}
.l-slider-item#item-3 {
  left: 500px;
  width: 200px;
  height: 200px;
  top: 35%;
  left: 24%;
}
.l-slider-item#item-4 {
  left: 500px;
  width: 350px;
  height: 200px;
  top: 65%;
  left: 40%;
}
.l-slider-item#item-5 {
  left: 500px;
  width: 150px;
  height: 150px;
  top: 70%;
  left: 56%;
}
.l-slider-item#item-6 {
  left: 500px;
  width: 350px;
  height: 350px;
  top: 50%;
  left: 70%;
}
