.l-container {
  min-height: 200vh;
  margin-top: 10%;
}

.l-background {
  background-image: url(../img/ciel.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.l-container-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30%;
  padding-bottom: 5%;
  flex-direction: column;
}

.l-object-wrapper {
  display: flex;
  margin: 100px 0;
}

.l-object {
  width: 30%;
  height: 200px;
  opacity: 1;
  border-radius: 10px;
  position: relative;
}

.l-spacer {
  height: 100vh;
  margin-block: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  // border-radius: 10px;
  // background: repeating-linear-gradient(
  //   45deg,
  //   #606dbc33,
  //   #606dbc33 10px,
  //   #606dbc00 10px,
  //   #606dbc00 20px
  // );
}

.l-slider-mask {
  overflow: hidden;
  height: 100vh;
}

.l-slider-container {
  display: inline-flex;
  height: 100%;
  gap: 10px;
  width: 150%;
  position: relative;
  display: flex;
}

.l-slider-container .montagne-paysage img {
  margin-top: 2%;
  width: 100%;
  height: 50%;
  margin-left: 16%;
  flex-shrink: 0;
  display: block;
  position: relative;
  z-index: -2;
  scale: 1.3;
  inset: 0;
}
.l-slider-container .parapaysage img {
  margin-top: 13%;
  width: 100%;
  height: 67%;
  object-fit: cover;
  flex-shrink: 0;
  display: block;
  position: absolute;
  z-index: 2;
}
.l-slider-container .foret-paysage img {
  margin-top: 8%;
  width: 100%;
  height: 50%;
  object-fit: cover;
  flex-shrink: 0;
  position: relative;
  z-index: 1;
}

.l-slider-item {
  position: absolute;
  z-index: 3;
  opacity: 1;
}

.l-slider-item#item-1 {
  left: 500px;
  width: 150px;
  height: 150px;
  top: 30%;
  left: 6%;
}
.l-slider-item#item-2 {
  left: 500px;
  width: 300px;
  height: 300px;
  top: 55%;
  left: 14%;
}
.l-slider-item#item-3 {
  left: 500px;
  width: 200px;
  height: 200px;
  top: 35%;
  left: 24%;
}
.l-slider-item#item-4 {
  left: 500px;
  width: 350px;
  height: 200px;
  top: 65%;
  left: 40%;
}
.l-slider-item#item-5 {
  left: 500px;
  width: 150px;
  height: 150px;
  top: 70%;
  left: 56%;
}
.l-slider-item#item-6 {
  left: 500px;
  width: 350px;
  height: 350px;
  top: 50%;
  left: 70%;
}

.l-grotte img {
  object-fit: cover;
  width: 100%;
  height: 50%;
  position: relative;
  z-index: 1;
}

.l-planet img {
  max-width: 50%;
  position: relative;
  bottom: 50%;
  top: -70%;
  left: 56%;
  z-index: -1;
  margin-top: -75%;
  margin-left: -55%;
}

.l-parallax-container {
  height: calc(100vh - 40px);
  margin-block: 10px;
  padding: 10px;
  background: black;
  position: relative;
}

.l-parallax-element {
  display: flex;
  align-items: center;
  justify-content: center;
}

#element-1 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70%;
}

#element-2 {
  position: absolute;
  bottom: 20px;
  left: 40px;
  width: 25%;
  height: 40%;
}

#element-3 {
  position: absolute;
  bottom: 30px;
  right: 100px;
  width: 10%;
  height: 10%;
}

#template,
#path {
  fill: none;
}

#template {
  stroke-width: 5px;
  stroke: #444;
}

#element-2 {
  display: flex;
  flex-direction: column;
}

#element-3 {
  display: flex;
  flex-direction: column;
}

// .l-object-wrapper img {
//   width: 100%;
// }

#oiseau-1 img {
  width: 150%;
  position: absolute;
  top: -50%;
  left: -50%;
}

#oiseau-2 img {
  width: 100%;
  position: absolute;
  top: -50%;
  left: 80%;
}

#oiseau-3 img {
  width: 500%;
  position: absolute;
  top: -300%;
  left: -250%;
}

#oiseau-4 img {
  width: 100%;
  position: absolute;
  top: 30%;
  left: 150%;
}

.l-object#oiseau-1 {
  z-index: 2;
}

.l-object#oiseau-2 {
  z-index: 1;
}

.l-object#oiseau-3 {
  z-index: 3;
}

.l-object#oiseau-4 {
  z-index: 0;
}

.l-slider-item#item-1 img {
  width: 180%;
  position: absolute;
}
