// layout général

.l-container {
  min-height: 200vh;
  margin-top: 10%;
}

.l-background {
  background-image: url(../img/ciel.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.l-container-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30%;
  padding-bottom: 5%;
  flex-direction: column;
}

.l-object-wrapper {
  display: flex;
  margin: 100px 0;
}

.l-object {
  width: 30%;
  height: 200px;
  opacity: 1;
  border-radius: 10px;
  position: relative;
}

.l-spacer {
  height: 100vh;
  margin-block: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.l-slider-mask {
  overflow: hidden;
  height: 100vh;
}

.l-slider-container {
  display: inline-flex;
  height: 100%;
  gap: 10px;
  width: 150%;
  position: relative;
  display: flex;
}

.l-slider-container .l-montagne-paysage img {
  margin-top: 2%;
  width: 100%;
  height: 50%;
  margin-left: 14%;
  flex-shrink: 0;
  display: block;
  position: relative;
  z-index: -2;
  scale: 1.3;
  inset: 0;
}
.l-slider-container .l-parapaysage img {
  margin-top: 13%;
  width: 100%;
  height: 67%;
  object-fit: cover;
  flex-shrink: 0;
  display: block;
  position: absolute;
  z-index: 2;
}
.l-slider-container .l-foret-paysage img {
  margin-top: 8%;
  width: 100%;
  height: 50%;
  object-fit: cover;
  flex-shrink: 0;
  position: relative;
  z-index: 1;
}

.l-slider-container {
  pointer-events: none;
}

.l-slider-container .l-slider-item img {
  pointer-events: auto;
}

//animaux plaine

.l-slider-item {
  position: absolute;
  z-index: 3;
  opacity: 1;
}

.l-slider-item#item-1 {
  left: 500px;
  width: 150px;
  height: 150px;
  top: 32%;
  left: 4%;
}

.l-slider-item#item-2 {
  left: 500px;
  width: 300px;
  height: 300px;
  top: 40%;
  left: 4%;
}

.l-slider-item#item-3 {
  left: 500px;
  width: 200px;
  height: 200px;
  top: 45%;
  left: 28%;
}

.l-slider-item#item-4 {
  left: 500px;
  width: 350px;
  height: 200px;
  top: 65%;
  left: 33%;
}

.l-slider-item#item-5 {
  left: 500px;
  width: 150px;
  height: 150px;
  top: 73%;
  left: 56%;
}

// image à retourner

.l-slider-item#item-6 {
  left: 500px;
  width: 350px;
  height: 350px;
  top: 50%;
  left: 77%;
}

.l-grotte img {
  object-fit: cover;
  width: 100%;
  height: 50%;
  position: relative;
  z-index: 1;
}

.l-planet img {
  max-width: 50%;
  position: relative;
  left: 56%;
  z-index: -1;
  margin-top: -85%;
  margin-left: -55%;
}

#template,
#path {
  fill: none;
}

#template {
  stroke-width: 5px;
  stroke: #444;
}

// layout images oiseaux

#oiseau-1 img {
  width: 150%;
  position: absolute;
  top: -50%;
  left: -50%;
}

#oiseau-2 img {
  width: 100%;
  position: absolute;
  top: -50%;
  left: 80%;
}

#oiseau-3 img {
  width: 500%;
  position: absolute;
  top: -300%;
  left: -250%;
}

#oiseau-4 img {
  width: 100%;
  position: absolute;
  top: 30%;
  left: 150%;
}

.l-object#oiseau-1 {
  z-index: 2;
}

.l-object#oiseau-2 {
  z-index: 1;
}

.l-object#oiseau-3 {
  z-index: 3;
}

.l-object#oiseau-4 {
  z-index: 0;
}
