.l-background {
  background-image: url(../img/ciel\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.l-container-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30%;
  padding-bottom: 5%;
  flex-direction: column;
}
